<!--index.vtl-->
<h1>Welcome to Epicodus Hackathon!</h1>

<div class="container">
  <button class="btn btn-default"><a href="/teams">View Team List</a></button>
</div>
<div class="container">
  <button class="btn btn-default"><a href="/teams/new">Add a New Team</a></button>
</div>
<!--index.vtl-->
