<!--categories.vtl-->
<h1>Member Information</h1>
<ul>
  #if($member)
    <li>$member.getName()</li>
  #end
</ul>
<a href="/teams/new">Add New Team</a>
<a href="/teams/$team.getId()/members/new">Add a new member</a>
<!--categories.vtl-->
