<!--category.vtl-->
<h1>$squad.getName() Heros:</h1>
<ul>
  #foreach($hero in $squad.getHeros())
   <a href="/squads/$squad.getId()/heros/$squad.getHeroId($hero)"><li>$hero.getName()</li></a>
  #end
</ul>

<a href="/squads/$squad.getId()/heros/new">Add a new hero</a>
<a href="/squads">View all squads</a>
<!--category.vtl-->
