<!--category-tasks-form.vtl-->
<h1>Add a member to $team.getName()</h1>

<form action="/members" method="post">
  <input id="squadId" name="squadId" type="hidden" value="$team.getId()">

  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" name="name" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add Member</button>
</form>
<!--category-tasks-form.vtl-->
